.card {

    margin-top: 10px;

    .card-header {

    }

    #card-container {

        .card-body {

            .card-title {

            
            }

            .card-text {

            
            }

            .buttons {

                display: flex;
                justify-content: space-evenly;

            }

        }

    }

}            